<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Abdelrahman Khaled - DevOps CV</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    <header>
        <h1>Abdelrahman Khaled</h1>
        <h2>DevOps Engineer</h2>
    </header>
    <section id="summary">
        <h3>Summary</h3>
        <p>Experienced DevOps engineer with a strong background in implementing and managing CI/CD pipelines,
            infrastructure automation, and cloud solutions. Adept at utilizing Django for web applications and
            leveraging Amazon Web Services (AWS) for scalable and reliable deployments.</p>
    </section>
    <section id="experience">
        <h3>Experience</h3>
        <article>
            <h4>Instructor MTI</h4>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, ex assumenda voluptatibus pariatur dolore quia, ad</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, ex assumenda voluptatibus pariatur dolore quia, ad</p>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vel, ex assumenda voluptatibus pariatur dolore quia, ad</p>
            
        </article>

    </section>
    <section id="skills">
        <h3>Skills</h3>
        <ul>
            <li>CI/CD: Jenkins, GitLab CI/CD</li>
            <li>Containerization: Docker, Kubernetes</li>
            <li>Infrastructure as Code: Terraform, CloudFormation</li>
            <li>Web Framework: Django</li>
            <li>Cloud Platforms: AWS, Azure</li>
            <li>Version Control: Git</li>
        </ul>
    </section>
    <section id="education">
        <h3>Education</h3>
        <p>Bachelor's Degree in Computer Science - MTI University </p>
    </section>
    <footer>
        <p>Contact:  Phone: +20 109 997 9460</p>
    </footer>
</body>

</html>